<!DOCTYPE html>
<head>
    <meta charset="utf-8">

    <title>OneUI - Admin Dashboard Template & UI Framework</title>

    <meta name="description" content="OneUI - Admin Dashboard Template & UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon.png') }}">

    <link rel="icon" type="image/png" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon-160x160.png') }}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/favicon-192x192.png') }}" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/hearwegohearwego/oneUI/img/favicons/apple-touch-icon-180x180.png') }}">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Page JS Plugins CSS go here -->

    {% block pagecssplugin %}

    {% endblock %}

    <!-- OneUI CSS framework -->
    <link rel="stylesheet" id="css-main" href="{{ asset('bundles/hearwegohearwego/oneUI/css/oneui.css') }}">

    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->

    <!-- END Stylesheets -->
</head>
<body>
<!-- Page Container -->
<!--
    Available Classes:

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
-->
<div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">



    {# Header Header Header Header Header Header #}
    {# Header Header Header Header Header Header #}
    {# Header Header Header Header Header Header #}
    {# Header Header Header Header Header Header #}
    {# Header Header Header Header Header Header #}
    {# Header Header Header Header Header Header #}


    <!-- Header -->
    <header id="header-navbar" class="content-mini content-mini-full">
        <!-- Header Navigation Right -->
        <ul class="nav-header pull-right">
            <li>
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="side_overlay_toggle" type="button">
                    <i class="fa fa-tasks"></i>
                </button>
            </li>
        </ul>
        <!-- END Header Navigation Right -->

        <!-- Header Navigation Left -->
        <ul class="nav-header pull-left">
            <li class="hidden-md hidden-lg">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
            </li>
            <li class="hidden-xs hidden-sm">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_mini_toggle" type="button">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
            </li>
            <li class="visible-xs">
                <!-- Toggle class helper (for .js-header-search below), functionality initialized in App() -> uiToggleClass() -->
                <button class="btn btn-default" data-toggle="class-toggle" data-target=".js-header-search" data-class="header-search-xs-visible" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </li>
            <li class="js-header-search header-search">
                <form class="form-horizontal" action="{{ path('manage_user') }}" method="post">
                    <div class="form-material form-material-primary input-group remove-margin-t remove-margin-b">
                        <input class="form-control" type="text" id="base-material-text" name="base-material-text" placeholder="Search..">
                        <span class="input-group-addon"><i class="si si-magnifier"></i></span>
                    </div>
                </form>
            </li>
        </ul>
        <!-- END Header Navigation Left -->
    </header>
    <!-- END Header -->




    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}
    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}
    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}
    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}
    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}
    {# RightSideAdmin RightSideAdmin RightSideAdmin RightSideAdmin #}

    <!-- Side Overlay right admin column-->
    <aside id="side-overlay">
        <!-- Side Overlay Scroll Container -->
        <div id="side-overlay-scroll">
            <!-- Side Header -->
            <div class="side-header side-content">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default pull-right" type="button" data-toggle="layout" data-action="side_overlay_close">
                    <i class="fa fa-times"></i>
                </button>
                <span class="font-w600 push-10-l">Admin</span>
            </div>
            <!-- END Side Header -->

            <!-- Side Content -->
            <div class="side-content remove-padding-t">
                <!-- Block -->
                <div class="block pull-r-l">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Block</h3>
                    </div>
                    <div class="block-content">
                        <p>...</p>
                    </div>
                </div>
                <!-- END Block -->
            </div>
            <!-- END Side Content -->
        </div>
        <!-- END Side Overlay Scroll Container -->
    </aside>
    <!-- END Side Overlay -->



    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}
    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}
    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}
    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}
    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}
    {# LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin LeftSideAdmin#}

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Scroll Container -->
        <div id="sidebar-scroll">
            <!-- Sidebar Content -->
            <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="side-header side-content bg-white-op">
                    <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                    <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times"></i>
                    </button>
                    <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                    <div class="btn-group pull-right">
                        <button class="btn btn-link text-gray dropdown-toggle" data-toggle="dropdown" type="button">
                            <i class="si si-drop"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right font-s13 sidebar-mini-hide">
                            <li>
                                <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme="{{ asset('bundles/hearwegohearwego/oneUI/css/themes/amethyst.min.css') }}" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme="{{ asset('bundles/hearwegohearwego/oneUI/css/themes/city.min.css') }}" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme="{{ asset('bundles/hearwegohearwego/oneUI/css/themes/flat.min.css') }}" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme="{{ asset('bundles/hearwegohearwego/oneUI/css/themes/modern.min.css') }}" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="theme" data-theme="{{ asset('bundles/hearwegohearwego/oneUI/css/themes/smooth.min.css') }}" tabindex="-1" href="javascript:void(0)">
                                    <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="h5 text-white" href="{{ path('admin_index') }}">
                        <img src="{{ asset('bundles/hearwegohearwego/img/new logo.jpg') }}"><span class="h4 font-w600 sidebar-mini-hide"> HearWeGo</span>
                    </a>
                </div>
                <!-- END Side Header -->

                <!-- Side Content -->
                <div class="side-content">
                    <ul class="nav-main">

                        {# DASHBOARD #}
                        <li>
                            <a {{ (app.request.attributes.get('_route') == 'admin_index') ? ' class="active"' }} href="{{ path('admin_index') }}"><i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span></a>
                        </li>


                        <li class="nav-main-heading"><span class="sidebar-mini-hide">Management</span></li>

                        {# USER MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_user' or app.request.attributes.get('_route') == 'add_user' or app.request.attributes.get('_route') == 'user_profile') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-user"></i><span class="sidebar-mini-hide">Users</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_user') ? ' class="active"' }} href="{{ path('manage_user') }}">All Users</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'add_user') ? ' class="active"' }} href="{{ path('add_user') }}">Add New</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'user_profile') ? ' class="active"' }} href="{{ path('user_profile') }}">Your Profile</a>
                                </li>
                            </ul>
                        </li>

                        {# ARTICLE MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_article' or app.request.attributes.get('_route') == 'add_article' or app.request.attributes.get('_route') == 'manage_tag') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-pencil "></i><span class="sidebar-mini-hide">Articles</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_article') ? ' class="active"' }} href="{{ path('manage_article') }}">All Articles</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'add_article') ? ' class="active"' }} href="{{ path('add_article') }}">Add New</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_tag') ? ' class="active"' }} href="{{ path('manage_tag') }}">Tags</a>
                                </li>
                            </ul>
                        </li>

                        {# AUDIO MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_audio' or app.request.attributes.get('_route') == 'add_audio' or app.request.attributes.get('_route') == 'assign_audio') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="fa fa-music"></i><span class="sidebar-mini-hide">Audios</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_audio') ? ' class="active"' }} href="{{ path('manage_audio') }}">All Audios</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'add_audio') ? ' class="active"' }} href="{{ path('add_audio') }}">Add Audio</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'assign_audio') ? ' class="active"' }} href="{{ path('assign_audio') }}">Add Audio</a>
                                </li>
                            </ul>
                        </li>


                        {# DESTINATION MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_destination' or app.request.attributes.get('_route') == 'add_destination') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-camera "></i><span class="sidebar-mini-hide">Destinations</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_destination') ? ' class="active"' }} href="{{ path('manage_destination') }}">All Destinations</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'add_destination') ? ' class="active"' }} href="{{ path('add_destination') }}">Add Destination</a>
                                </li>
                            </ul>
                        </li>

                        {# COMPANY MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_company' or app.request.attributes.get('_route') == 'add_company') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-briefcase"></i><span class="sidebar-mini-hide">Companies</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_company') ? ' class="active"' }} href="{{ path('manage_company') }}">All Companies</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'add_company') ? ' class="active"' }} href="{{ path('add_company') }}">Add Company</a>
                                </li>
                            </ul>
                        </li>


                        {# TOUR MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_tour') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-plane "></i><span class="sidebar-mini-hide">Tours</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_tour') ? ' class="active"' }} href="{{ path('manage_tour') }}">All Tours</a>
                                </li>
                            </ul>
                        </li>

                        {# RATING MANAGEMENT#}

                        <li {{ (app.request.attributes.get('_route') == 'manage_rating' or app.request.attributes.get('_route') == 'audio_rating') ? ' class="open"' }} >
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-star "></i><span class="sidebar-mini-hide">Rating</span></a>
                            <ul>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'manage_rating') ? ' class="active"' }} href="{{ path('manage_rating') }}">Recent Rating</a>
                                </li>
                                <li>
                                    <a {{ (app.request.attributes.get('_route') == 'audio_rating') ? ' class="active"' }} href="{{ path('audio_rating') }}">Audios Rating</a>
                                </li>
                            </ul>
                        </li>

                        {# COMMENT MANAGEMENT#}

                        <li>
                            <a {{ (app.request.attributes.get('_route') == 'manage_comment') ? ' class="active"' }} href="{{ path('manage_comment') }}"><i class="fa fa-comments"></i><span class="sidebar-mini-hide">Comments</span></a>
                        </li>


                    </ul>
                </div>
                <!-- END Side Content -->
            </div>
            <!-- Sidebar Content -->
        </div>
        <!-- END Sidebar Scroll Container -->
    </nav>
    <!-- END Sidebar -->




    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}
    {# Content Content Content Content Content Content Content Content #}

    <!-- Main Container -->
    <main id="main-container">
        <!-- Page Header -->
        <div class="content bg-gray-lighter">
            <div class="row items-push">
                <div class="col-sm-7">
                    {% block mainpageheader %}
                    <h1 class="page-heading">mainpageheader</h1>
                    {% endblock %}
                </div>

            </div>
        </div>
        <!-- END Page Header -->

        <!-- Page Content -->
        <div class="content">
            <!-- My Block -->
            <div class="block">
                <div class="block-header">
                    <ul class="block-options">
                        <li>
                            <button type="button"><i class="si si-settings"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                        </li>

                    </ul>

                    {% block mainpagecontainerheader %}

                    <h3 class="block-title">mainpagecontainerheader</h3>

                    {% endblock %}

                </div>
                <div class="block-content container">
                    {% block mainpagecontainer %}

                        <h3 class="block-title">mainpagecontainer</h3>

                    {% endblock %}
                </div>
            </div>
            <!-- END My Block -->
        </div>
        <!-- END Page Content -->
    </main>
    <!-- END Main Container -->




    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}
    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}
    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}
    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}
    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}
    {# Footer Footer Footer Footer Footer Footer Footer Footer Footer#}

    <!-- Footer -->
    <footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
        <div class="pull-right">
            Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
        </div>
        <div class="pull-left">
            <a class="font-w600" href="javascript:void(0)" target="_blank">OneUI</a> &copy; <span class="js-year-copy"></span>
        </div>
    </footer>
    <!-- END Footer -->





</div>
<!-- END Page Container -->

<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.scrollLock.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.appear.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.countTo.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/jquery.placeholder.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/core/js.cookie.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/app.js') }}"></script>

<!-- Page JS Plugins + Page JS Code -->
<!-- Page Plugins -->

<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/plugins/slick/slick.min.js') }}"></script>
<script src="{{ asset('bundles/hearwegohearwego/oneUI/js/plugins/chartjs/Chart.min.js') }}"></script>

{% block pagejsplugin %}

{% endblock %}

<!-- Page JS Code -->

{% block pagejscode %}

{% endblock %}

</body>
