<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Destination Page</title>
    <link href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/hearwegohearwego/css/destination.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ asset('bundles/hearwegohearwego/js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/destination.js') }}"></script>
</head>

<body>
    <div id="toppage">
        <img src="{{ asset('bundles/hearwegohearwego/images/banner.png') }}" style="width:100%">
    </div>
    <div class="container">
        <div class="row">
            <div id="area" class="col-md-3">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/1.png') }}" id="area1">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/2.png') }}" id="area2">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/3.png') }}" id="area3">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/4.png') }}" id="area4">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/5.png') }}" id="area5">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/6.png') }}" id="area6">
                <img src="{{ asset('bundles/hearwegohearwego/images/destination/7.png') }}" id="area7">
            </div>
            <div id="city" class="col-md-3">
                <nav id="place1" hidden>
                    <ul>
                        <li><a href="#">Sa Pa</a></li>
                        <li><a href="#">Fansipan</a></li>
                    </ul>
                </nav>
                <nav id="place2" hidden>
                    <ul>
                        <li><a href="#">Ho Guom</a></li>
                        <li><a href="#">Ha Long</a></li>
                    </ul>
                </nav>
                <nav id="place3" hidden>
                    <ul>
                        <li><a href="#">Cau song Han</a></li>
                        <li><a href="#">Co do Hue</a></li>
                    </ul>
                </nav>
                <nav id="place4" hidden>
                    <ul>
                        <li><a href="#">Bien Nha Trang</a></li>
                        <li><a href="#">Bien Mui Ne</a></li>
                    </ul>
                </nav>
                <nav id="place5" hidden>
                    <ul>
                        <li><a href="#">Cao nguyen Lang Biang</a></li>
                        <li><a href="#">Thac Cam Ly</a></li>
                    </ul>
                </nav>
                <nav id="place6" hidden>
                    <ul>
                        <li><a href="#">Dinh Doc lap</a></li>
                        <li><a href="#">Nha tho Phuc Nhac</a></li>
                    </ul>
                </nav>
                <nav id="place7" hidden>
                    <ul>
                        <li><a href="#">Mui Ca Mau</a></li>
                        <li><a href="#">Phu Quoc</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>