.no-inset {
  padding: 0px !important; }

.no-offset {
  margin: 0px !important; }

.my-page {
  background-color: #50E81A; }
  .my-page .banner img {
    width: 100%; }
  .my-page .my-search {
    height: 50px;
    padding: 8px; }
    .my-page .my-search .inputgroup {
      width: 30%;
      margin: 0 auto; }
    .my-page .my-search .inputgroup-addon {
      padding: 0;
      width: 32px;
      height: 32px;
      background: none;
      border: 0; }
    .my-page .my-search .btn-tape, .my-page .my-search .btn-filter {
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%; }
    .my-page .my-search .btn-tape {
      background: url(../../images/homepage/search_btn.png) no-repeat top left;
      background-size: 32px 32px; }
    .my-page .my-search .btn-filter {
      background: url(../../images/homepage/filter_btn.png) no-repeat top left;
      background-size: 32px 32px; }
    .my-page .my-search .filter {
      width: 372px !important; }
      .my-page .my-search .filter .criteria .picture {
        border: solid 1px #ffffff;
        border-right-color: #000000; }
        .my-page .my-search .filter .criteria .picture .price {
          width: 50%;
          height: 50%;
          margin: 10px; }
        .my-page .my-search .filter .criteria .picture .discount {
          width: 75%;
          height: 75%;
          margin: 10px; }
        .my-page .my-search .filter .criteria .picture .destination {
          width: 75%;
          height: 75%;
          margin: 10px; }
      .my-page .my-search .filter .criteria .tick p {
        font-size: 9px; }
  .my-page .content {
    background-color: #DCFBD1;
    padding-right: 200px;
    padding-left: 200px; }
    .my-page .content .article {
      background-color: #ffffff; }
      .my-page .content .article .text .title h2 {
        text-transform: uppercase;
        color: #008000;
        font-size: 20px; }
      .my-page .content .article .text .date {
        padding-left: 50px;
        padding-right: 50px; }
        .my-page .content .article .text .date h5 {
          font-size: 15px; }
      .my-page .content .article .text .paragraph {
        padding-left: 50px;
        padding-right: 50px; }
        .my-page .content .article .text .paragraph img {
          width: 100%; }
      .my-page .content .article .relative {
        border: 1px solid #ffffff;
        border-left-color: #ECECEC;
        padding-top: 15px; }
        .my-page .content .article .relative .relative-new {
          width: 100%; }
          .my-page .content .article .relative .relative-new img {
            width: 175px;
            height: 175px; }
          .my-page .content .article .relative .relative-new .title h2 {
            text-transform: uppercase;
            color: #008000;
            font-size: 20px; }
          .my-page .content .article .relative .relative-new .subcontent {
            font-size: 12px; }

/*# sourceMappingURL=article.css.map */
