.no-inset{
  padding: 0px!important;
}
.no-offset{
  margin: 0px !important;
}
.my-page {
  background-color: #50E81A;
  .banner {
    img {
      width: 100%;
    }
  }
  .my-search { height: 50px;padding: 8px;
    .inputgroup { width: 30%;margin: 0 auto; }
    .inputgroup-addon { padding: 0;width: 32px;height: 32px;background: none;border: 0; }
    .btn-tape, .btn-filter { padding: 0;border: 0;width: 100%;height: 100%; }
    .btn-tape { background: url(../../images/homepage/search_btn.png) no-repeat top left;background-size: 32px 32px; }
    .btn-filter { background: url(../../images/homepage/filter_btn.png) no-repeat top left;background-size: 32px 32px; }
    .filter{
      width: 372px !important;
      .criteria{
        .picture{
          border: solid 1px #ffffff;
          border-right-color: #000000;
          .price{
            width: 50%;
            height: 50%;
            margin: 10px;
          }
          .discount{
            width: 75%;
            height: 75%;
            margin: 10px;
          }
          .destination{
            width: 75%;
            height: 75%;
            margin: 10px;
          }
        }
        .tick{
          p{
            font-size: 9px;
          }
        }
      }
    }
  }
  .content {
    background-color: #DCFBD1;
    padding-right: 200px;
    padding-left: 200px;
    .article{
      background-color: #ffffff;
      .text{
        .title{
          h2{
            text-transform: uppercase;
            color: #008000;
            font-size: 20px;
          }
        }
        .date{
          padding-left: 50px;
          padding-right: 50px;
          h5{
            font-size: 15px;
          }
        }
        .paragraph{
          padding-left: 50px;
          padding-right: 50px;
          img{
            width:100%;
          }
        }
      }
      .relative{
        border: 1px solid #ffffff;
        border-left-color: #ECECEC;
        padding-top: 15px;
        .relative-new{
          width: 100%;
          img{
            width: 175px;
            height: 175px;
          }
          .title{
            h2{
              text-transform: uppercase;
              color: #008000;
              font-size: 20px;
            }
          }
          .subcontent{
            font-size: 12px;
          }
        }
      }
    }
  }
}