.no-inset {
  padding: 0px !important; }

.no-offset {
  margin: 0px !important; }

.my-page {
  background-color: #50E81A; }
  .my-page .banner img {
    width: 100%; }
  .my-page .my-search {
    height: 50px;
    padding: 8px; }
    .my-page .my-search .input-group {
      width: 30%;
      margin: 0 auto; }
    .my-page .my-search .input-group-addon {
      padding: 0;
      width: 32px;
      height: 32px;
      background: none;
      border: 0; }
    .my-page .my-search .btn-tape, .my-page .my-search .btn-filter {
      padding: 0;
      border: 0;
      width: 100%;
      height: 100%; }
    .my-page .my-search .btn-tape {
      background: url(../../images/homepage/search_btn.png) no-repeat top left;
      background-size: 32px 32px; }
    .my-page .my-search .btn-filter {
      background: url(../../images/homepage/filter_btn.png) no-repeat top left;
      background-size: 32px 32px; }
  .my-page .content {
    background-color: #DCFBD1;
    padding-right: 200px;
    padding-left: 200px; }
    .my-page .content .articles {
      padding-top: 20px;
      background-color: #ffffff; }
      .my-page .content .articles .column .article img {
        width: 150px;
        height: 150px; }
      .my-page .content .articles .column .article .text .title {
        color: #008000; }
  .my-page .my-navbar {
    position: fixed;
    width: 25px;
    right: 40px;
    top: -5px; }
    .my-page .my-navbar .icon {
      width: 40px;
      height: 40px;
      background-color: white; }
    .my-page .my-navbar .item {
      list-style: none; }
  .my-page .my-reg-log-bar {
    position: fixed;
    width: 25px;
    right: 40px;
    top: 250px; }
    .my-page .my-reg-log-bar .icon {
      width: 40px;
      height: 40px;
      background-color: white; }
    .my-page .my-reg-log-bar .item {
      list-style: none; }
  .my-page .my-reg-form .avatar, .my-page .my-log-form .avatar {
    margin: -25px 250px 10px;
    width: 80px;
    height: 80px; }
  .my-page .my-reg-form .title, .my-page .my-log-form .title {
    width: 100% !important; }
  .my-page .my-reg-form .fb_signup, .my-page .my-log-form .fb_signin {
    border-radius: 10px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: -10px; }
  .my-page .my-reg-form .fb_signup img {
    border-radius: 10px;
    width: 100%;
    margin: 0; }
  .my-page .my-reg-form .reg-submit, .my-page .my-log-form .log-submit {
    border-radius: 10px;
    padding: 0; }
  .my-page .my-reg-form .reg-submit img, .my-page .my-log-form .log-submit img {
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin: 0; }
  .my-page .my-log-form .fb_signin img {
    border-radius: 10px;
    width: 100%;
    margin: 0; }
  .my-page .my-log-form .id_icon {
    width: 20px;
    height: 20px; }
  .my-page .my-log-form .pass_icon {
    width: 20px;
    height: 20px; }

/*# sourceMappingURL=handbook.css.map */
