<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tilte</title>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/handbook/article.css') }}">
</head>
<body>
    <div class="my-page container-fluid no-inset">
        <!--Banner-->
        <div class="banner">
            <img src="{{ asset('bundles/hearwegohearwego/images/homepage/banner.png') }}">
        </div>
        <!--End Banner-->
        <!--Search bar-->
        {#<div class="row my-search no-offset">#}
            {#<div class="col-md-12">#}
                {#<form>#}
                    {#<div class="input-group">#}
                        {#<span class="input-group-addon">#}
                            {#<button class="btn btn-default btn-tape" type="submit"></button>#}
                        {#</span>#}
                        {#<input type="text" class="form-control" aria-label="search...">#}
                        {#<span class="input-group-addon">#}
                            {#<button class="btn btn-default btn-filter" type="submit"></button>#}
                        {#</span>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}
        <div class="row my-search no-offset ">
            <div class="col-md-12">
                <div class="input-group inputgroup ">
                    <span class="input-group-addon inputgroup-addon">
                        <button class="btn btn-default btn-tape" type="submit"></button>
                    </span>
                    <input type="text" class="form-control" aria-label="search...">
                    <span class="input-group-addon inputgroup-addon">
                        <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" aria-haspopup="true"></button>
                        <div class="filter dropdown-menu col-md-6" role="menu" aria-labelledby="filter_btn">
                            <div role="presentation" class="row criteria no-offset">
                                <div class="picture text-center col-md-3">
                                    <img class="price" src="{{ asset('bundles/hearwegohearwego/images/searchbar/price.png') }}">
                                </div>
                                <div class="col-md-9 row tick">
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  <1.000.000</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  <3.000.000</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  <5.000.000</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  >5.000.000</i></p>
                                    </label>
                                </div>
                            </div>
                            <div role="presentation" class="divider"></div>
                            <div role="presentation" class="row criteria no-offset">
                                <div class="picture text-center col-md-3">
                                    <img class="discount" src="{{ asset('bundles/hearwegohearwego/images/searchbar/discount.png') }}">
                                </div>
                                <div class="col-md-9 row tick">
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  0-20%</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  20-40%</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  40-60%</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>  >60%</i></p>
                                    </label>
                                </div>
                            </div>
                            <div role="presentation" class="divider"></div>
                            <div role="presentation" class="row criteria no-offset">
                                <div class="picture text-center col-md-3">
                                    <img class="destination" src="{{ asset('bundles/hearwegohearwego/images/searchbar/destination.png') }}">
                                </div>
                                <div class="col-md-9 row tick">
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>Ha Noi</i></p>
                                        <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                        <p><input type="checkbox" ><i>Da Nang</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>Ha Noi</i></p>
                                        <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                        <p><input type="checkbox" ><i>Da Nang</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>Ha Noi</i></p>
                                        <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                        <p><input type="checkbox" ><i>Da Nang</i></p>
                                    </label>
                                    <label class="col-md-3">
                                        <p><input type="checkbox" ><i>Ha Noi</i></p>
                                        <p><input type="checkbox" ><i>Ho Chi Minh</i></p>
                                        <p><input type="checkbox" ><i>Da Nang</i></p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <!--End Search bar-->
        <div class="content col-md-12">
            <div class="row article">
                <div class="text col-md-9">
                    <div class="title text-center">
                        <h2><b>This is the title of the article</b></h2>
                    </div>
                    <div class="date">
                        <h5><i>21 July 2015</i></h5>
                    </div>
                    <div class="paragraph">
                        <p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended HTML
                            and dynamic code. But as time passed, other template languages - like Twig 1 - were created to make
                            templating even better.
                            Use Twig templating format for your templates.
                            Generally speaking, PHP templates are much more verbose than Twig templates because they lack native
                            support for lots of modern features needed by templates, like inheritance, automatic escaping and named
                            arguments for filters and functions.
                            Twig is the default templating format in Symfony and has the largest community support of all non-PHP
                            template engines (it's used in high profile projects such as Drupal 8).
                            In addition, Twig is the only template format with guaranteed support in Symfony 3.0. As a matter of
                            fact, PHP may be removed from the officially supported template engines.
                        </p>
                        <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                        <p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended HTML
                            and dynamic code. But as time passed, other template languages - like Twig 1 - were created to make
                            templating even better.
                            Use Twig templating format for your templates.
                            Generally speaking, PHP templates are much more verbose than Twig templates because they lack native
                            support for lots of modern features needed by templates, like inheritance, automatic escaping and named
                            arguments for filters and functions.
                            Twig is the default templating format in Symfony and has the largest community support of all non-PHP
                            template engines (it's used in high profile projects such as Drupal 8).
                            In addition, Twig is the only template format with guaranteed support in Symfony 3.0. As a matter of
                            fact, PHP may be removed from the officially supported template engines.
                        </p>
                    </div>
                </div>
                <div class="relative col-md-3">
                    <div class="relative-new">
                        <div>
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                        </div>
                        <div class="title">
                            <h2 class="tit">This is a title</h2>
                            <h4 class="date">21 July 2015</h4>
                        </div>
                        <div class="subcontent">
                            <p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended HTML
                                and dynamic code. But as time passed, other template languages - like Twig 1 - were created to make
                                templating even better.</p>
                        </div>
                    </div>
                    <div class="relative-new">
                        <div>
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                        </div>
                        <div class="title">
                            <h2 class="tit">This is a title</h2>
                            <h4 class="date">21 July 2015</h4>
                        </div>
                        <div class="subcontent">
                            <p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended HTML
                                and dynamic code. But as time passed, other template languages - like Twig 1 - were created to make
                                templating even better.</p>
                        </div>
                    </div>
                    <div class="relative-new">
                        <div>
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh3.jpg') }}">
                        </div>
                        <div class="title">
                            <h2 class="tit">This is a title</h2>
                            <h4 class="date">21 July 2015</h4>
                        </div>
                        <div class="subcontent">
                            <p>When PHP was created 20 years ago, developers loved its simplicity and how well it blended HTML
                                and dynamic code. But as time passed, other template languages - like Twig 1 - were created to make
                                templating even better.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/hearwegohearwego/js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
</body>
</html>