<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel Hand Book</title>
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/hearwegohearwego/css/handbook/handbook.css') }}">
</head>
<body>
    <div class="my-page container-fluid no-inset">
        <!--Banner-->
        <div class="banner">
            <img src="{{ asset('bundles/hearwegohearwego/images/homepage/banner.png') }}">
        </div>
        <!--End Banner-->
        <!--Search bar-->
        <div class="row my-search no-offset">
            <div class="col-md-12">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <button class="btn btn-default btn-tape" type="submit"></button>
                        </span>
                        <input type="text" class="form-control" aria-label="search...">
                        <span class="input-group-addon">
                            <button class="btn btn-default btn-filter" type="submit"></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <!--End Search bar-->
        <!--Content-->
        <div class="content">
            <div class="articles row">
                <div class="column col-md-6">
                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-md-6">
                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="article row">
                        <div class="image col-md-5">
                            <img src="{{ asset('bundles/hearwegohearwego/images/detail/hinh1.jpg') }}">
                        </div>
                        <div class="text col-md-7">
                            <div class="title">
                                <h4><b>This is the title of article</b></h4>
                            </div>
                            <div class="date">
                                <i>20 Jul 2015</i>
                            </div>
                            <div class="sub-content">
                                <p>The official jQuery website ( http://jquery.com/ ) is always the most up-to-date
                                    resource for code and news related to the library. the latest uncompressed
                                    version will be <a href="#">Continue reading...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <ul class="pagination" >
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Content-->

        <!--Navigation bar-->
        <div class="row my-navbar">
            <div class="col-md-1">
                <ul class="my-navbar">
                    <li class="item"><img  class="icon"src="{{ asset('bundles/hearwegohearwego/images/homepage/home.png') }}" alt="Home icon"></li>
                    <li class="item"><img class="icon" src="{{ asset('bundles/hearwegohearwego/images/homepage/map.png') }}" alt="Map icon"></li>
                    <li class="item"><img class="icon" src="{{ asset('bundles/hearwegohearwego/images/homepage/audio.png') }}" alt="Audio icon"></li>
                    <li class="item"><img class="icon" src="{{ asset('bundles/hearwegohearwego/images/homepage/news.png') }}" alt="News icon"></li>
                </ul>
            </div>
        </div>
        <!--End Navigation bar-->


        <!--Login/Reg bar-->
        <div class="row my-reg-log-bar">
            <div class="col-md-1">
                <ul class="my-reg-log-bar">
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-reg-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/reg.png') }}"></li>
                    <li class="item"><img type="button" class="icon" data-toggle="modal" data-target=".my-log-form" src="{{ asset('bundles/hearwegohearwego/images/homepage/login.png') }}"></li>
                </ul>
            </div>
        </div>
        <!--EndLogin/Reg bar-->
        <!--Register Form-->
        <div class="my-reg-form modal fade" role="dialog">
            <div class="modal-dialog">
                <!--Form content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                        <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/title.png') }}">
                    </div>
                    <div class="modal-body">
                        <button class="fb_signup" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fbsignup.png') }}"></button>
                        <form>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" id="Email" placeholder="Email">
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="Password" placeholder="Password">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="confPass" placeholder="Enter Password again">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="Fname" placeholder="First name">
                                    <!-- label>Last Name</label>
                                    <input type="text" class="form-control" id="Lname" placeholder="Last name"> -->
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="Lname" placeholder="Last name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <select id="year"></select>
                                <select id="month"></select>
                                <select id="day"></select>
                            </div>
                            <div class="form-group">
                                <label>Phone number</label>
                                <input type="text" class="form-control" id="PhoneNum" placeholder="Telephone number">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="reg-submit btn btn-default"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/signup_btn.png') }}"></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--End Register form-->

        <!--Login form-->
        <div class="my-log-form modal fade" role="dialog">
            <div class="modal-dialog">
                <!--Form content-->
                <div class="modal-content">
                    <form>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <img class="avatar" src="{{ asset('bundles/hearwegohearwego/images/homepage/User.png') }}" >
                            <img class="modal-title title" src="{{ asset('bundles/hearwegohearwego/images/homepage/login_title.png') }}">
                        </div>

                        <div class="modal-body">
                            <button class="fb_signin" type="button"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/fb_login.png') }}"></button>
                            <div class="form-group input-group">
                                <span class="input-group-addon" id="id_addon"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/ID.png') }}" class="id_icon"></span>
                                <input type="email" class="form-control" id="Email" placeholder="Email" aria-describedby="id_addon">
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon" id="pass_addon"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/pass.png') }}" class="pass_icon"></span>
                                <input type="password" class="form-control" id="Password" placeholder="Password" aria-describedby="pass_addon">
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" ><a href="#">Forgot Password</a></div>
                                <div class="form-group col-md-6">
                                    <label><input type="checkbox" name="remember"> Remember Me!</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="log-submit btn btn-default"><img src="{{ asset('bundles/hearwegohearwego/images/homepage/signin_btn.png') }}"></button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--End login form-->
    </div>
    <script src="{{ asset('bundles/hearwegohearwego/js/jquery.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bundles/hearwegohearwego/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hearwegohearwego/js/homepage/select-birthday.js') }}"></script>
    <script type="text/javascript">
        var today= new Date();
        var yy= today.getFullYear();
        selectBirthday("#year", "#month", "#day", {
            year : 1938,
            month : 12,
            day : 31,
            yearRange : 75,
            endYear : yy
        });
    </script>
</body>
</html>